h1{
    margin-top: 30px;
}

body {
    text-align: center;
    background-color:#2e2e2e;
    color: white;
}

.navbar ul{
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;

}
.navbar li{
  
  display: inline-flex;
  font-size: 15px;
  padding: 5px;

}
.navbar a{
    color:#ffff;
    display:block;
    text-decoration: none;
}

.image-input {
 
 max-width: 400px;
 max-height: 400px;
 border-radius: 150%;
 width: auto;
 height: auto;
 margin-top: 20px;
 margin-bottom: 35px;

}

h2{
    text-align: left;
    font-size: 20px;
}

.skill {
    text-align: left;
}

footer{
    
    background: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    color: white;
    padding-top: 10px;
    
}
.footer-content{
    display: inline-flex;
    justify-content: space-between;
  

}
