h1{
    margin-top: 30px;
}

body {
    text-align: center;
    background-color:#2e2e2e;
    color: white;
}

.navbar ul{
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;

}
.navbar li{
    display: inline-block;

}
.navbar a{
    color:#ffff;
    width: 100px;
    display:block;
    text-decoration: none;
}

.image-input {
 
 max-width: 400px;
 max-height: 400px;
 border-radius: 150%;
 width: auto;
 height: auto;
 margin-top: 20px;
 margin-bottom: 35px;

}

h2{
    text-align: left;
    font-size: 40px;
}

.skill {
    text-align: left;
}