h1{
    margin-top: 30px;
}

body {
    text-align: center;
    background-color:#2e2e2e;
    color: white;
}

.navbar ul{
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;

}
.navbar li{
  
  display: inline-flex;
  font-size: 15px;
  padding: 5px;

}
.navbar a{
    color:#ffff;
    display:block;
    text-decoration: none;
}

.image-input {
 
 max-width: 400px;
 max-height: 400px;
 border-radius: 150%;
 width: auto;
 height: auto;
 margin-top: 20px;
 margin-bottom: 35px;

}

h2{
    text-align: left;
    font-size: 20px;
}

.skill {
    text-align: left;
}

footer{
    width: 15x;
    display: block;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
    
}

